<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="iOSSuite">
  <test name="iOSTest">
  
  
   
    <packages>
      <package name="ios.scripts"/>
    </packages> 
    
  <!--   
  <classes>
    <class name="ios.scripts.Test_01_Launch_UI_Catalog_HomePage"/>
    </classes>
           -->
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
